<!-- tab4.component.html -->
<ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="Logo BM" class="w-12 h-12 mL-4 rounded-full object-cover" />
    <h1 class="menu-text"> PROMOCIONES Y DESCUENTOS</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Zonas de Promociones -->
  <div class="zones-container">
    <ion-card (click)="mostrarZona('postres')" [ngClass]="{'selected': zonaSeleccionada === 'postres'}"
              style="position: relative; height: 200px; margin-bottom: 16px; background: url('assets/postres.jpg') center/cover;">
      <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5);"></div>
      <ion-card-header>
        <ion-card-title style="color: white; font-size: 24px; position: relative; z-index: 2;">Postres Zone</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color: white; position: relative; z-index: 2;">
        Descubre nuestras promociones en postres
      </ion-card-content>
    </ion-card>

    <ion-card (click)="mostrarZona('gaming')" [ngClass]="{'selected': zonaSeleccionada === 'gaming'}"
    style="position: relative; height: 200px; margin-bottom: 16px; background: url('assets/gaming.jpg') center/cover;">
<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5);"></div>
<ion-card-header>
<ion-card-title style="color: white; font-size: 24px; position: relative; z-index: 2;">Gaming Zone</ion-card-title>
</ion-card-header>
<ion-card-content style="color: white; position: relative; z-index: 2;">
Promociones especiales para gamers
</ion-card-content>
</ion-card>
</div>

  <!-- Lista de Promociones -->
  <div class="promociones-container" *ngIf="zonaSeleccionada">
    <ion-list>
      <ion-item *ngFor="let promocion of getPromocionesActivas()">
        <ion-card class="promocion-card">
          <ion-card-header>
            <ion-card-title>{{ promocion.titulo }}</ion-card-title>
            <ion-card-subtitle>{{ promocion.descuento }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>{{ promocion.descripcion }}</p>
            <p class="vigencia">Válido hasta: {{ promocion.vigencia }}</p>
            <img [src]="promocion.codigoQR" alt="Código QR" class="qr-code">
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
